es-button{
    background: linear-gradient(to right, #cc3e14,  #e2e22ca9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    outline: none;
    border-radius: 5px;
    border:none;
    padding: 10px;
    font-family:ACBoldSemiCn;
    cursor: pointer;
    height: auto;
    width:auto;
    z-index: 1;
}
es-button:hover {
    -webkit-background-clip: border-box;
    -webkit-text-fill-color: #f1f1f1;
    opacity:1;

}

es-button a:visited{
    background: green;

}
