es-navbutton{
    display: grid;
    white-space: nowrap;
    position:relative;
    cursor:pointer;
    transition:0.5s ease;
    margin-bottom: 1vh;
    height: 4vh;
    margin: 3vh;
}
es-navbutton[active]{
    opacity:1;
    transition:0.5s ease;
}
es-navbutton[inactive]{
    opacity:0.5;
    transition:0.5s ease;
}
es-navbutton[inactive]:hover{
    opacity:1;
}
button {
    border: none;
    outline: none;
    border-radius: 2px;
    font-family: 'ACLight';
    font-size:17px;
    cursor:pointer;
    color:#589BFA;
    margin:0;
    padding:0;
    height: 3vh;
}
es-navbutton.darkmode button{
    padding:0 10px;
    background: transparent;
}
es-navbutton.darkmode[active] button{
    background: transparent;
    border: none;
}
es-navbutton[active] button{
    background: transparent;
    border-bottom: 2px solid;
    border-bottom-color: blueviolet;
    border-image: linear-gradient(to right,transparent 30%, blue 35%, red 50%, transparent 70%);
    border-image-slice: 8;
}