es-sidebar{
z-index:2;
position:relative;
border-radius:2px;
display:flex;
background:transparent;
margin-left:1.5vw;
margin-right:1.5vw;
}
es-sidebar[expand]{
left:0;
}
@media only Screen and (max-width:850px){
}