@font-face{
    font-family: ACBlack;
    src:url(./assets/fonts/AdobeClean-Black.otf)
}
@font-face{
    font-family: ACBlackLit;
    src:url(./assets/fonts/AdobeClean-BlackIt.otf)
}
@font-face{
    font-family: ACBoldCond;
    src:url(./assets/fonts/AdobeClean-BoldCond.otf)
}
@font-face{
    font-family: ACBoldSemiCn;
    src:url(./assets/fonts/AdobeClean-BoldSemiCn.otf)
}