@import './fonts.scss';
$espii-primary-color:#F44336;
$espii-secondary-color:#30D975;
$espii-tetiary-color:#DF7B74;
$espii-base-color:whitesmoke;
$espii-accent-color:#1A78D9;
$espii-taste-color:#e2e22c;


html{
    background-image:url(./assets/img/ws382.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
html.darkmode{
    background-color: #1b1b1b;
    background-image: none;
}
::-webkit-scrollbar{
    width: 0;
}
*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: 0.5s ease-in-out;
    outline:none;

}
.markdown-body{
    display: none;
}
body{
    background:transparent;
    display: flex;
    flex-direction: column;
    margin:auto;
    width: webkit-fill-available;
}
es-logo,es-carousel,es-navbar,es-sidebar{
    margin:auto;
}
@media only Screen and (max-width:850px){
}
