@import './fonts.scss';
$espii-primary-color:#F44336;
$espii-secondary-color:#30D975;
$espii-tetiary-color:#DF7B74;
$espii-base-color:whitesmoke;
$espii-accent-color:#1A78D9;
$espii-taste-color:#e2e22c;


html{
    background-image:url(./assets/img/ws382.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    //margin: 0;
    height: 100vh;
    width: 100vw;
}
// ::-webkit-scrollbar{
//    width: 0;
//  }
*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: 0.5s ease-in-out;

}
.markdown-body{
    display: none;
}
body{
    background:transparent;
    height: 100vh;
    width: 100vw;
    margin-left: 20px;
}
body, es-carousel{
    overflow: hidden;
}
@media only Screen and (max-width:800px){
    body{
        margin-left:0;
    }
    es-sidebar{
        position:absolute;
        top:5%;
        left:5%;
    }
    es-logo{
        left:30%;
    }
}
