@import './fonts.scss';
$espii-primary-color:#F44336;
$espii-secondary-color:#30D975;
$espii-tetiary-color:#DF7B74;
$espii-base-color:whitesmoke;
$espii-accent-color:#1A78D9;
$espii-taste-color:#e2e22c;


html{
    //background-color: #111010;
    background-image:url(./assets/img/ws37.png);
    background-position: center;
    -webkit-box-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: -webkit-fill-available;
    //background-blend-mode:screen;
    margin: 0;
}
::-webkit-scrollbar{
   width: 0;
 }
*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: 0.5s ease-in-out;
}
body{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    height: -webkit-fill-available;
    align-items: flex-end;
}
