@import './Properties.scss';
es-cbkview{
    width: 100vw;
    display: block;
    margin: auto $margin;
}
es-charts{
    width: 100%;
    height: 100%;
    display: inline-flex;
    padding: 20px;
    align-items: center;
}
#button-container{
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#button-container button{
    pointer-events: all;
    background-color: $espii-tetiary-color;
    font-size: small;
    color: white;
    margin: $margin 0;
    width: -webkit-fill-available;
    height: auto;
}
#button-container button[selected]{
    background-color: $espii-primary-color;
}
#inflationChart{
    pointer-events: all;
    user-select: all;
}
@media only screen and (max-width: 600px){
    es-charts{
        flex-direction: column;
        align-items: center;
    }
}