$gridareas:(
    activeimagebar,
    inactiveimagebar1,
    inactiveimagebar2,
    inactiveimagebar3,
    activeimagebar,
    inactiveimagebar1,
    inactiveimagebar2,
    inactiveimagebar3,
);
$gridareasopacity:(
    1,
    .5,
    .3,
    .3,
    1,
    .5,
    .3,
    .3,
);
$gridimageopacity:(
    1,
    0,
    0,
    0,
    1,
    0,
    0,
    0,
);
@mixin shape{
    @for $i from 5 through 7{
        &:nth-child(#{$i}){
            grid-area:nth($gridareas,$i);
            opacity:nth($gridareasopacity,$i);
            es-paragraph{
                opacity:nth($gridimageopacity,$i);
            }
        }
    }
}
es-storybackface es-storycontainer label{
    //@include shape;
    backdrop-filter: blur(0);
    top:0;
}

es-imagebar{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    transition: 0.5s ease;
    position: relative;
    scroll-snap-align: start;
    z-index: 1;
    user-select: none;
    pointer-events: all;
    padding: 20px 0 0 0;
    width: 100%;
}
// es-imagebar:first-of-type{
//     grid-area:activeimagebar;
// }
es-imagebar img{
    scroll-snap-align: start;
    z-index:0;
    user-select:none;

}
.tooltiptext{
    grid-area: two;
    border-radius: 6px;
    position: relative;
    opacity:1;
    transition:1s ease-in-out;
    opacity:0.5;
}
.descriptiontext{
    grid-area:three;
    position: relative;
    opacity:1;
    transition:1s ease-in-out;
}
es-imagebar[hover]{
    opacity:1;
}
es-imagebar:hover{
    opacity:1;
}
es-imagebar:hover .tooltiptext{
    //opacity:1;
}
es-imagebar:hover .descriptiontext{
    //opacity:1;
}
@media only Screen and (max-width:850px){
    es-imagebar{
        opacity:1;
        justify-content:flex-end;
    }
    .tooltiptext{

    }
    .descriptiontext{

    }
}