@import './Properties.scss';
es-logo{
    position: absolute;
    display:block;
    background-image: url(../Assets/Svg/espiilogo4.svg);
    background-position: center;
    width: $Logo-Width;
    height:$Logo-Height;
    top:$Logo-Top;
    left: 0;
    right: 0;
    margin:$margin auto;
    background-repeat: no-repeat;
}
@media only Screen and (max-width:600px){
    es-logo{
        background-position: left;
        background-size: 20%;
        width: 100%;
    }
}