@import './Properties.scss';
es-navbutton{
    display: grid;
    white-space: nowrap;
    position:relative;
    cursor:pointer;
    transition:0.5s ease;
    pointer-events: all;
    margin:0 2vw;
}
es-navbutton[active]{
    opacity:1;
    transition:0.5s ease;
    border-bottom: 1px solid $espii-unique-color;
}
es-navbutton[inactive]{
    opacity:0.5;
    transition:0.5s ease;
}
es-navbutton[inactive]:hover{
    opacity:1;
}
button {
    border: none;
    outline: none;
    border-radius: 2px;
    font-size:$NavButton-FontSize;
    cursor:pointer;
    color:#589BFA;
    background: transparent;
    height: $NavButton-Height;
}
es-navbutton:nth-last-child(1) button{
    color:#ffff2e
}
@media only Screen and (max-width:850px){
    es-navbutton{
        button{
            font-size: calc(max(3vw, 3vh) * 0.7);
        }
    }
}