$Small-font-size: min(3vw,3vh);
$Large-font-size: max(3vw,3vh);
$margin:10px;
$Upper-Lower-Margin:20px;


$espii-primary-color:#F44336;
$espii-secondary-color:#30D975;
$espii-tetiary-color:#DF7B74;
$espii-base-color:whitesmoke;
$espii-accent-color:#1A78D9;
$espii-taste-color:#e2e22c;
$espii-unique-color:chartreuse;
$espii-unique-complement-color:#005250;
$espii-background-color:#040C1A;
$espii-background-color-translucent:#040c1adb;

$Logo-Height: Calc(100vh * 0.04);
$Logo-Width: Calc(#{$Logo-Height} * 2.96);
$Logo-Top: $margin;
$Wide-Logo-Width: calc(100vw - 20px);

$NavButton-Height: max(3vw,3vh);
$Topbar-Height: Calc(#{$NavButton-Height});
$NavButton-FontSize: Calc(#{$NavButton-Height} * 0.3);
$Topbar-Top: Calc(#{$Logo-Height} + #{$Logo-Top} + #{$Upper-Lower-Margin});

$Carousel-Top:Calc(#{$Topbar-Top} + #{$Topbar-Height} + (#{$Upper-Lower-Margin} * 2));
$Carousel-Height: Calc(100vh - #{$Carousel-Top} - #{$margin});

$TextBoard-Height:max(4vw,4vh);
$TextBoard-Text-FontSize:Calc(#{$TextBoard-Height} * 0.5);

$StoryContainer-Height:Calc(#{$Carousel-Height} - #{$TextBoard-Height});
$Story-Height:Calc(#{$StoryContainer-Height} * 0.85);
$Story-Width:clamp(25vw,80vw,45vh);
//$Image-Height:clamp(150px,#{$Story-Height},250px);
$Mini-Story-Height:Calc(#{$Story-Height} / 2);
$Mini-Story-Width:Calc(#{$Story-Width} * 0.34);
$Mini-Story-Bottom:Calc(#{$Carousel-Top} + #{$Carousel-Height});

$Image-Height:Calc(#{$Story-Height} * 0.75);
$Story-Button-Height:Calc(#{$Story-Height} - #{$Image-Height} - #{$Upper-Lower-Margin});
$Story-Button-Width:Calc(#{$Story-Height} - #{$Image-Height} - #{$Upper-Lower-Margin});
$Story-Font-Size:Calc(#{$Story-Button-Width} * 0.2);

$Footer-Height:#{$Carousel-Top};
$Footer-Position:Calc(100vh - #{$Logo-Height});
