@import './Properties.scss';
es-topbar{
    z-index:2;
    position:fixed;
    border-radius:2px;
    display:flex;
    background:transparent;
    justify-content:center;
    margin: $margin auto;
    top:$Topbar-Top;
    height: $Topbar-Height;
    width: 100%;
}
es-topbar[expand]{
    left:0;
}
@media only Screen and (max-width:600px){
    es-topbar{
        top:0;
        height: $Carousel-Top;
        flex-direction: column;
        margin: auto;
        display: flex;
        align-items: center;
        background-color: $espii-background-color-translucent;
    }
}